.form-container .tooltip {
  margin-top: 10px;
  width: 170px;
  color: $colorSecondary;
  padding: 4px 5px;
  background-color: white;
  border-radius: $borderRadius;
  position: relative;
  display: flex;
  justify-content: space-between;
  z-index: 2;

  .tooltip-text {
    font-size: 12px !important;
    margin-right: 5px;
  }

  @include media('>tablet'){
    width: 200px;
    .tooltip-text {
      font-size: 14px !important;
      margin-right: 10px;
    }
  }
}

.tooltip-filler {
  min-width: 5px;
  min-height: 100%;
  background-color: $colorSecondary;
  margin-right: 5px;

  //Triangle for tooltip
  &:after {
    z-index: 1;
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 8px solid #fff;
    left: 20px;
    top: -8px;
  }
}