.tooltip {
  margin-top: 10px;
  width: 160px;
  color: $colorSecondary;
  padding: 4px 5px;
  background-color: white;
  border-radius: $borderRadius;
  position: relative;
  font-size: 11px;
  display: flex;
  justify-content: space-evenly;
  z-index: 2;
}

.tooltip-filler {
  min-width: 5px;
  min-height: 100%;
  background-color: $colorSecondary;
  margin-right: 5px;

  //Triangle for tooltip
  &:after{
    z-index: 1;
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 8px solid #fff;
    left: 20px;
    top: -8px;
  }
}