//Color variables
$colorPrimary: #D63A3A;
$colorSecondary: #A70D0D;
$textColorPrimary: #fff;
$textColorSecondary: #000;

//Font variables
$fontPrimary: Poppins, sans-serif !important;
$fontSecondary: DM Sans, sans-serif !important;


//Other constants
$borderRadius: 4px;
$inputHeight: 50px;


