//Color variables
$colorPrimary: #D63A3A;
$colorSecondary: #A70D0D;
$textColorPrimary: #fff;
$textColorSecondary: #000;

//Font variables
$fontPrimary: Poppins, sans-serif !important;
$fontSecondary: DM Sans, sans-serif !important;


//Other constants
$borderRadius: 4px;
$inputHeight: 50px;

$boxShadow: 0 2.2px 2.0px rgba(0, 0, 0, 0.034),
0 5.7px 4.3px rgba(0, 0, 0, 0.048),
0 10.5px 8px rgba(0, 0, 0, 0.06),
0 19.3px 17.9px rgba(0, 0, 0, 0.072),
0 19.8px 28.4px rgba(0, 0, 0, 0.086),
0 30px 60px rgba(0, 0, 0, 0.12);

