.home-container {
  margin: 0;
  background-color: $colorPrimary;
  text-align: center;
  width: 100%;
  padding: 55px 0;
  font-family: $fontPrimary;

  @include media(">=phone") {
    width: 90%;
    margin: 25px auto;
    border-radius: $borderRadius;
  }

  @include media(">tablet") {
    margin: 20px auto;
    width:65%;
  }
}

.title {
  width: 80%;
  color: $textColorPrimary;
  font-size: 9vw;
  font-family: $fontPrimary;
  font-weight: 700;
  margin: 0 auto 30px;

  @include media(">=phone", "<=tablet") {
    font-size: 48px;
  }

  @include media(">tablet") {
    font-size: 3.4vw;
    margin: 0 auto 20px;
  }
}

.subtitle {
  width: 50%;
  margin: 0 auto;
  color: $textColorPrimary;
  font-size: 4.5vw;
  font-family: $fontPrimary;
  font-weight: 500;
  line-height: 1.55em;

  @include media(">=phone", "<=tablet") {
    font-size: 22px;
    width: 40%;
  }

  @include media(">tablet") {
    font-size: 1.33vw;
    width: 25%;

  }
}
