// Import libraries
//@import '~antd/dist/antd.less';
//@import '~ant-design-pro/dist/ant-design-pro.css';

// Import variables
//@import '~style/variables.less';

// Global styles / overrides
body ,html {

  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  //font-family: @font-family;
  color: #4d4d4d;
  background: #fbfbfb;

  //@media (min-width: 500px) {
  //  background-image: url('~static/images/bg.png');
  //  background-size: 65px 65px;
  //  background-repeat: repeat;
  //}
}